@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

.toggle,input[type="checkbox"]{
    display: none;
}

@mixin  h1 {
    
    font-weight: 800;
    color: #242f51;
    font-size: 2.8em;

    @media screen and (max-width:990px) {
        // text-align: center;
    }
    @media screen and (max-width:768px) {
        font-size: 2em;
        margin: 10px 0;

        &::before{
            display: none;
        }
    }
}
@mixin  button {
    color: white;
    background: #2500f9;
    padding: 10px 25px;
    border-radius: 50px;
    text-decoration: none;
}
@mixin  h4 {
    margin: 20px 0;
    font-weight: 700;
    color: #242f51;
}
section{
    overflow: hidden !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Nunito;
}

html{
    scroll-behavior: smooth;
}

section.home{
    background:url(../images/Home-vactor.png) repeat center;
    background-size: contain;
    top: 0;
    z-index: 1;
    
    &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
     background:url(../images/Home-bg-bottm.png) no-repeat bottom center;
     top: 0;
     z-index: -1;
     }
     .container{
         position: relative !important;
     }
  
    nav{
        height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 222;
    background: white;
    position: fixed;
    transition: .3s;
    padding: 80px 100px;
    width: 100%;
    right: 0;

    @media screen and (max-width:900px) {
        padding:80px 70px ;
    }
    @media screen and (max-width:600px) {
        padding:80px 10px ;
    }
        
        .logo{
            cursor: pointer;
        }

        ul{
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;

            li{
            list-style: none;
            }

            a{
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(26, 25, 25);
                // background: black;
                margin: 0 6px;
                padding: 8px 15px;
                border-radius: 50px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer !important;
            }
        }
    }
    nav.sticky{
        background: rgb(255, 255, 255);
        z-index: 9999;
    padding: 20px 80px;
    box-shadow: 0px 0 20px #0000004f;

    @media screen and (max-width:900px) {
        padding:20px 60px ;
    }
    @media screen and (max-width:600px) {
        padding:20px 5px ;
    }

    }
    .row{
        padding-top: 120px;
    }

    .row .home-info{
        margin-top: 100px;
        .icon-title{
            background-color: #e2eaed;
            display: inline-block;
            border-radius: 50px;
            width: 260px;
            height: 26px;
            line-height: 26px;

            i{
                color:white ;
                background: orange;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                text-align: center;
                font-size: 20px;
                padding-top: 3px;
            }

            p{
                display: inline-block;
            }
        }
        
        .home-title{
            margin: 20px 0;
            h1{
                @include h1;
            }
        }

        .button{
            margin-top: 50px;
            .try{
                color: white;
                background: #2500f9;
                padding: 10px 25px;
                border-radius: 50px;
                text-decoration: none;
                margin-right: 30px;
            }
            .watch{
                color:#2500f9;
                text-decoration: none;
            }
        }
    }
    .home-mobile img{
        width: 350px;
        height: auto;
    }


}
section.trusted-company{
    margin: 100px 0 150px 0;
    .title{
        margin: 50px 0;
    }
    .company-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row img{
        width: 100px;
    }

}

section.app-feature{
    .mobile img{
        width: 105%;

    }
    .feature-title{
        margin:0 0 50px 0;
        h1{
            @include h1;
        }
    }
    .feature-logo{
        .logo-img{

            img{
                margin-top: 20px;
                width: 58px;
                height: 58px;
                position: relative;

            }
            
        }

    .feature-info{
        h4{
            color: #40975f;
            font-weight: 700;
        }
    }

    }
    .feature-logo:nth-child(2){
        
        h4{
            color: red;
            font-weight: 700;
        }
    }
    .feature-logo:nth-child(3){
        
        h4{
            color: #7393ff;
            font-weight: 700;
        }
    }
}

section.jackpot{
    margin: 70px 0;
    h1{
        @include h1;
        margin: 50px 0;

        &:before{
            content: "";
            width: 2px;
            height: 180px;
            position: absolute;
            top: 26%;
            right: 0px;
            background-color: black;
        }
    }
    p.dis{
        margin: 100px 0 0px 0;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        
    }

    .jackpot-info{
        margin: 10px 0;

        h4{
            margin: 10px 0;
            font-weight: 700;
            font-size: 22px
        }
    }
}




@import "home2";
@import "pricing";
@import "faq";
@import "footer";


@media screen and (max-width:991px) {
    
    section.home{
              
        nav{

            ul{

                a{
                    margin: 0;
                    font-size: 15px;
                }
            }
        }
    
    }

    section.app-feature{
        .mobile img{
            width: 105%;
            margin-top: 50px;
        }

        .feature-title{
            margin:0 0 20px 0;
            h1{
                @include h1;
                font-size: 2.2em;
            }
        }
        .feature-logo{
            .logo-img{
    
                img{
                    margin-top: 20px;
                    width: 50px;
                    height: 50px;
    
                }
                
            }
    
        .feature-info{
            h4{
                font-size: 22px;
            }
            p{
                font-size: 15px;
            }
        }
    
        }
    }
}


@media screen and (max-width:768px) {
    nav {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 222;
        background: white;
        position: fixed !important;
        padding-top: 50px;
        transition: .3s;
        right: 0;
        padding: 0 30px;
    }
    .toggle{
        display: flex !important;
        height: 50px;
        width: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        margin-bottom: 0;
        cursor: pointer;

        &::before{
            content: "";
            position: absolute;
            background: rgb(0, 0, 0);
            width: 30px;
            height: 3px;
            transform: translateY(-10px);
            transition: .3s;
            box-shadow: 0 10px 0 rgb(0, 0, 0);
        }

        &::after{
            content: "";
            position: absolute;
            background: rgb(0, 0, 0);
            width: 30px;
            height: 3px;
            transform: translateY(10px);
            transition: .3s;
        }
    }

    ul#menu.active {
        left: 0 !important;
    }
    .toggle.active::before{
        transform: translate(0) rotate(-45deg) !important;
        box-shadow: none;
    }
    .toggle.active:after{
        transform: translate(0)  rotate(45deg) !important;
    }

    section.home{
      
        nav{
    
    
            ul{
        
                display: block;
                position: fixed;
                top: 0;
                left: -100%;
                margin: 0;
                height: 100%;
                width: 100%;
                max-width: 350px;
                background: #ff6c76;
                z-index: 999;
                padding: 0 20px;
            transition: .5s ease-out !important;
                padding-top: 50px;
                
                li{
                    display: block;
                    margin-top: 20px;

                    a{
                        font-size: 18px;
                        display: block;
                        font-weight: 600;
                        color: white;
                        border-radius: 10px;

                        &:hover{
                            background:#e6656e ;
                        }
                    }
                }
            }
        }
    
        .row .home-info{
            margin-top: 50px;
            margin-bottom: 40px;
            
            .home-title{
                h1{
                    @include h1;
                }
            }
    
            .button{
                margin-top: 50px;
                
                .try {
                    padding: 10px 15px;
                    margin-right: 5px;
                }
            }
        }
        .home-mobile img{
            width:100%;
            height: auto;
        }
    
    
    }
    section.trusted-company{
        margin-bottom: 30px;
        .col-md-2.col-sm-4:last-child {
            padding-top: 30px;
        }

    }

    section.app-feature{
        .mobile img{
            width: 100%;
        }
        .feature-title{
            margin:0 0 50px 0;
            h1{
                @include h1;
            }
        }  
    }

    section.jackpot{
        
        p.dis{
            margin: 10px 0 30px 0;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            
        }
    
        .jackpot-info{
            margin: 10px 0;
    
            h4{
                margin: 10px 0;
                font-weight: 700;
                font-size: 22px
            }
        }
    }
}

@media screen and (max-width: 500px){
nav{
    padding: 70px 15px !important;
    width: 100vw !important;
    overflow: hidden !important;
    }
nav.sticky{
    padding: 20px 10px !important;
    }
}

// preloader 

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22999999922;
    width: 100%;
    height: 100%;
    background: #0E1E2F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader img{
    width: 400px;
}